<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Leader Blame</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
    </head>

    <body>
        <div class="container-fluid">
            {% block top %}
                <div class="page-header">
                    <h2> Leader Blame = <em>git blame + leaderboard</em></h2>

                    <ul class="nav nav-pills nav-justified">
                        <li role="presentation"><a href="/">Home</a></li>
                        <li role="presentation"><a href="/leaderboard">Leaderboard</a></li>
                    </ul>
                </div>
            {% endblock %}

            {% block content %}
            {% endblock %}

            {% block bottom %}
            {% endblock %}
        </>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
